* {
    font-family: Arial, Helvetica, sans-serif;
}

#crosshair {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}


#menu-ui-main {
    margin: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 40px 5px rgba(2, 118, 250);
    top: 0; left: 0; bottom: 0; right: 0;
    width: 30%;
    height: 35%;
    border: 2px solid #1e90ff;
    border-radius: 8px;
    z-index: 1;
}

#menu-text-main {
    margin: 0;
    position: absolute;
    width: 50%;
    height: 5%;
    top: 10.75%;
    left: 50%;
    font-weight: 300;
    color: #fff;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 8px rgb(2, 118, 250);
}

#submit-button-ui {
    margin: 0;
    position: absolute;
    width: 30%;
    height: 10%;
    top: 90%;
    background-image: linear-gradient(to left, rgb(0, 255, 106), rgb(0, 158, 66));
    left: 50%;
    border: 2px solid rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 40px 0px rgb(2, 250, 147);
    border-radius: 8px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

#submit-button-ui:hover {
    box-shadow: 0px 0px 40px 3px rgb(2, 250, 147);
}



#url-tab-ui {
    margin: 0;
    position: absolute;
    width: 50%;
    height: 5%;
    top: 43%;
    color: white;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 40px 0px rgba(2, 118, 250);
    border: 2px solid #1e90ff;
    border-radius: 8px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#url-tab-ui:hover {
    box-shadow: 0px 0px 40px 3px rgba(2, 118, 250);
}

#url-text {
    margin: 0;
    position: absolute;
    width: 30%;
    height: 5%;
    font-weight: 300;
    top: 36.3%;
    left: 50%;
    color: #fff;
    text-shadow: 0px 0px 6px rgb(2, 118, 250);
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#size-tab-ui {
    margin: 0;
    position: absolute;
    width: 50%;
    height: 5%;
    top: 65%;
    color: white;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.54);
    border: 2px solid #1e90ff;
    box-shadow: 0px 0px 40px 0px rgba(2, 118, 250);
    border-radius: 8px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#size-tab-ui:hover {
    box-shadow: 0px 0px 40px 3px rgba(2, 118, 250);
}

#size-text {
    margin: 0;
    position: absolute;
    width: 30%;
    height: 5%;
    top: 57.75%;
    left: 50%;
    font-weight: 300;
    color: #fff;
    text-shadow: 0px 0px 6px rgb(2, 118, 250);
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}



#warning-text {
    margin: 0;
    position: absolute;
    width: 40%;
    height: 1%;
    top: 95.75%;
    left: 17%;
    font-weight: 300;
    color: #fff;
    font-size: 10px;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

#description {
    margin: 0;
    position: absolute;
    width: 70%;
    height: 20%;
    top: 27%;
    font-weight: 300;
    left: 50%;
    color: #fff;
    font-size: 10px;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

#close-button-ui {
    margin: 0;
    position: absolute;
    width: 10%;
    height: 5%;
    top: 5%;
    font-weight: 300;
    left: 93%;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 8px;
    box-shadow: 0px 0px 40px 0px rgb(255, 0, 0);
    background-image: linear-gradient(to left, rgb(161, 0, 0), rgb(250, 2, 2));
    font-size: 10px;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#close-button-ui:hover {
    box-shadow: 0px 0px 40px 5px rgb(255, 0, 0);
}